### Open Account (Register)

POST http://127.0.0.1:8005/customers/ HTTP/1.1
content-type: application/json

{
    "username": "",
    "email": "",
    "password": "",
    "confirm_password": "",
    "cpf": "",
    "phone": "",
    "first_name": "",
    "last_name": "",
    "birth_date": "",
    "address": {
        "number": "",
        "street": "",
        "complement": "",
        "city": "",
        "state": "",
        "country": "",
        "zip_code": ""
    }
}


### Resend Confirmation E-mail

POST http://127.0.0.1:8005/auth/confirm/resend/ HTTP/1.1
content-type: application/json

{
    "username": "",
    "email": ""
}


### Login
# @name login
POST http://127.0.0.1:8005/auth/login/ HTTP/1.1
content-type: application/json

{
    "username": "",
    "password": ""
}


### Logout

POST http://127.0.0.1:8005/auth/logout/ HTTP/1.1
content-type: application/json
Authorization: Bearer {{login.response.body.$.access}}

{
    "refresh": "{{login.response.body.$.refresh}}"
}


### Balance

GET http://127.0.0.1:8005/accounts/balance/ HTTP/1.1
content-type: application/json
Authorization: Bearer {{login.response.body.$.access}}


### Deposit

POST http://127.0.0.1:8005/accounts/deposit/ HTTP/1.1
content-type: application/json
Authorization: Bearer {{login.response.body.$.access}}
Idempotency-Key: deposit-1

{
    "amount": ""
}
